/* module is used for a scoope for css file otherwise it is globally usable */
.todo {
    width: 340px;
    background-color: rgb(124, 86, 160);
    margin: 10px 0;
    font-size: 24px;
    padding: 10px;
    color: white;
}

.icon {
    float: right;
    
}

.icon:hover{
     cursor: pointer;
}

@media (max-width:415px){
    .todo{
        width: 280px;
    }
}