.todo-list {
    width: 400px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    padding-left: 30px;
    margin: 10px auto;
    min-height: fit-content;
    position: relative;
}

@media (max-width:415px){
    .todo-list{
        width: 300px;
        margin: 10px 20px;
        padding-left: 10px;
    }
}